<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            background-color: #f5f5f5;
        }

        .container {
            max-width: 400px;
            margin: 100px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .form-control {
            border-radius: 0;
        }

        .btn-primary {
            border-radius: 0;
            width: 100%;
        }

        .error-message {
            color: red;
            margin-top: 5px;
            font-size: 14px;
        }
        .text-success {
    color: green;
}

.text-danger {
    color: red;
}

    </style>
</head>

<body>
    <div class="container">
        <h2>Login Form</h2>
    
        <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-envelope" style="vertical-align: middle;"></i>
                    </span>
                    <input type="text" class="form-control" name="emailId" ngModel required
                        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" minlength="11" maxlength="40"
                        placeholder="Email" />
                </div>
                <div *ngIf="loginForm.controls['emailId'].errors?.['required'] && loginForm.controls['emailId'].touched"
                    class="error-message">Please Enter Email-Id</div>
                <div *ngIf="loginForm.controls['emailId'].errors?.['pattern'] && loginForm.controls['emailId'].touched"
                    class="error-message">Please Enter a Valid Email-Id</div>
            </div>
    
            <br />
    
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-lock" style="vertical-align: middle;"></i>
                    </span>
                    <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" name="password"
                        #password="ngModel" ngModel required minlength="8" maxlength="15"
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%?&])[A-Za-z\d@$!%?&]{8,15}$"
                        placeholder="Password" />
                    <span class="input-group-addon" (click)="togglePasswordVisibility()">
                        <i class="{{ showPassword ? 'fa fa-eye-slash' : 'fa fa-eye' }}" style="vertical-align: middle;"></i>
                    </span>
                </div>
                <div *ngIf="password.errors?.['required'] && password.touched" style="color: red;">Please Enter Password</div>
                <div *ngIf="password.errors?.['minlength'] && password.touched" style="color: red;">Please Enter At
                    least 8 Characters for Password</div>
                <div *ngIf="password.errors?.['pattern'] && password.touched" style="color: red;">Please Enter a valid
                    password with at least 1 special character, 1 lowercase letter, 1 uppercase letter, and 1 digit
                </div>
            </div>

            <br />
            
            <div class="form-group">
                <form [formGroup]="aFormGroup">
                    <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha" >
                    </ngx-recaptcha2>
                </form>
            </div>
            <button [disabled]="!loginForm.valid" class="btn btn-primary">Login</button>
    
            <h4>if not register ?<a href="register">SignUp</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="customerforgotpassword">forgotpassword</a></h4>
    
            <div id="g_id_onload"
                data-client_id="642118565789-o12cohuhb4o57qerf0govqa16n2u3lvn.apps.googleusercontent.com"
                data-context="signin" data-ux_mode="popup"
                data-login_uri="http://localhost:8085/customerLogin/' + encodeURIComponent(document.getElementsByName('emailId')[0].value) + '/' + encodeURIComponent(document.getElementsByName('password')[0].value)"
                 data-auto_prompt="false">
            </div>
    
            <div class="g_id_signin" data-type="standard" data-shape="pill" data-theme="filled_blue"
                data-text="signin_with" data-size="large" data-logo_alignment="left">
            </div>
        </form>
    </div>
    
</body>

</html>