/* Center the container */
.container {
  margin-top: 50px;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the form heading */
.container h2 {
  text-align: center;
  margin-bottom: 30px;
}

/* Style form elements */
.form-group {
  margin-bottom: 20px;
}

.input-group-addon {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.error-message {
  color: red;
}

/* Style the eye icon for password visibility toggle */
.input-group-addon i {
  cursor: pointer;
}

/* Style the Google Sign-In button */
.g_id_signin {
  margin-top: 20px;
  text-align: center;
}

/* Center the links */
h4 {
  text-align: center;
  margin-top: 20px;
}

h4 a {
  color: #007bff;
  text-decoration: none;
  margin-left: 10px;
}

h4 a:hover {
  text-decoration: underline;
}
