.container mt-4{
    background-color: gold;
  }
  .card {
    border: 2px solid gold;
    font-style:normal;
    font-size: normal;
    border-radius: 9px;
    transition: box-shadow 0.3s ease;
    background-color:gainsboro;
    width:350px;
    height: 500px;
  }
  .card-title{
    font-size:large;
  }
  
  .card-img-top{
    border: 2px solid gold;
    border-radius: 9px;
    width:100%;
    height: 190px;
  
  }
  
.form-control{
    width: 110px;
  }