.button-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100px; 
}

.add-to-cart-button {
 
  padding: 10px 20px;
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 5px;
  
  cursor: pointer;
  
}
.body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #10a3e8;
}


.container mt-4{
background-color: gold;
}

.card {
border: 2px solid gold;
font-style:normal;
font-size: normal;
border-radius: 9px;
transition: box-shadow 0.3s ease;
background-color:gainsboro; 
width:350px;
height: 480px;
}
.card-title{
font-size:large;
}


.card-img-top{
border: 2px solid gold;
border-radius: 9px;
width:100%;
height: 190px;

}

.form-control{
width: 110px;
}