<footer>
    <div class="container">
      <p>&copy; 2024 FreshMart. All rights reserved.</p>
      <div class="social-icons">
        <a href="#" class="icon"><img src="https://img.freepik.com/premium-vector/modern-badge-logo-instagram-icon_578229-124.jpg?size=626&ext=jpg" alt="Instagram"></a>
        <a href="#" class="icon"><img src="https://upload.wikimedia.org/wikipedia/commons/6/6c/Facebook_Logo_2023.png" alt="Facebook"></a>
      </div>
    </div>
  </footer>
  