footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  footer p {
    margin-bottom: 10px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .icon {
    margin: 0 10px;
  }
  
  .icon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  