body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #10a3e8;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

header h1 {
    margin: 0;
}


.about-us {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
}

.team-member {
    margin-top: 20px;
    text-align: left;
}


footer {
    background-color: #201111;
    color: #fff;
    text-align: center;
    padding: 30px;
    bottom: 0;
    width: 100%;
}