<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Carousel Example</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://blog.leotheme.com/wp-content/uploads/2018/11/leo-cabbage.jpg" 
        class="d-block w-100" alt="First Slide">
    </div>
    <div class="carousel-item">
      <img src="https://thumbs.dreamstime.com/b/beautiful-apples-brown-wooden-background-46849192.jpg"
        class="d-block w-100" alt="Second Slide">
    </div>
    <div class="carousel-item">
      <img src="https://cdn-media.buildersmart.in/media/bannerslider/bannerslider/Buy_Online_Save_Money_..jpg"
        class="d-block w-100" alt="Third Slide">
    </div>
    <div class="carousel-item">
      <img src="https://cdn-media.buildersmart.in/media/bannerslider/bannerslider/Discover_Guranteed_web...jpg"
        class="d-block w-100" alt="Fourth Slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</body>
</html>



  <h1 class="Heading" align="center">Our Products</h1> <br/>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-3" *ngFor="let product of products">
      <div class="card mb-4">
        <img src="{{ product.imageUrl }}" class="card-img-top" alt="{{ product.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">Price: ₹{{ product.price }}</p>
          <input type="number" class="form-control" min="1" [(ngModel)]="product.quantity" placeholder="Quantity">
          <p align="right"><button class="btn btn-primary">AddToCart</button> </p>
        </div>
      </div>
    </div>
  </div>
</div>