
#myCarousel {
  margin-top: 20px;
  margin-bottom: 30px; 
}

#myCarousel {
position: relative;
}

.carousel-control-prev,
.carousel-control-next {
position: absolute;
top: 10%;
transform: translateY(-50%);
width: 30px; 
height: 30px; 
font-size: 14px;
background: #000; 
border: none; 
border-radius: 5px;
cursor: pointer;
color: #fff; 
}   

.card {
border: 2px solid gold;
font-style:normal;
font-size: normal;
border-radius: 9px;
transition: box-shadow 0.3s ease;
background-color:gainsboro; 
width:250px;
height: 450px;
}
.card-title{
font-size:large;
}
.card-img-top{
border: 2px solid gold;
border-radius: 9px;
width:100%;
height: 190px;

}

.form-control{
width: 90px;
}



.form-control {
width: 100px; 
display: inline-block; 
margin-right: 150px; 
}


.btn-primary {
vertical-align: middle; 
margin-top: 10px;
margin-right: 10px;
}