<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: lightgray">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="navbar-brand">
      <img class="w-8" routerLink="/" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR-bVjXnGfkbzU-qhz5Qt7IKkelanZcTdyCtBhm6mD2ixIwhrNZ" alt="FreshMart">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link"  class="glyphicon glyphicon-home"  routerLink="">Home</a>
        </li>
        <li >
        <div>
          <button  class="glyphicon glyphicon-triangle-bottom" mat-button [matMenuTriggerFor]="productsMenu">Products</button>
          <mat-menu #productsMenu="matMenu">
              <button mat-menu-item (click)="navigateTodairy()">Dairy Products</button>
              <button mat-menu-item (click)="navigateTofruits()">Fruits</button>
              <button mat-menu-item (click)="navigateTopulses()">Pulses</button>
              <button mat-menu-item (click)="navigateTovegetables()">Vegetables</button>
          </mat-menu>
         </div>
         
        </li>
        </ul>
      </ul>
    </div>
     <div>
      <ul class="navbar-nav mx-auto"  text align="rigth">
        
        <div>
          <button *ngIf="!loginStatus"   class="glyphicon glyphicon-log-in" mat-button [matMenuTriggerFor]="loginMenu"> Login </button>
          <mat-menu #loginMenu="matMenu">
            <button mat-menu-item (click)="navigateTocustomerLogin()" >Customer</button>
          </mat-menu>
        </div>
        <br/>
        <li class="nav-item">
          <a *ngIf="loginStatus" class="nav-link"  class="glyphicon glyphicon-log-out" routerLink="logout"><b class="logout"> Logout </b></a>
        </li>
      <li>
      <li class="nav-item"  align-item="left" >
        <a class="nav-link" class="glyphicon glyphicon-user" routerLink="aboutus">AboutUs  </a>
     </li>
        <li class="nav-item">
          <a class="nav-link"  class="glyphicon glyphicon-shopping-cart" routerLink="cart">Cart({{cartItems.length}})</a>
        </li>
      </ul>
    </div>
  </div>
</nav>