.navbar {
  height: 80px; /* Set your desired height */
  
}
.navbar img.w-8 {
  width: 80px; /* Adjust the width as needed */
  height: 60px; /* Maintain aspect ratio */
  margin-right: 10px; /* Add some margin to separate the image from text */
  border-radius: 80px; /* Optional: Apply a circular border-radius */
  
}

.navbar-brand,
.navbar-nav .nav-link {
  line-height: 50px;
  color: #49b3f5;

}

.navbar-brand{
  display: flex;
  align-items: center;
}

.navbar-space {
  margin-bottom: 20px; 
}

.navbar-select {
  display: flex;
  align-items: center;
}

.navbar-nav.mx-auto {
  display: flex;
  align-items: center;
}


button.mat-button {
  background-color: #ffffff; 
  color:white; 
  border: none;
  padding: 5px 10px; 
}

.nav-item {
  margin-right: 20px; 
}


.nav-item:last-child {
  margin-right: 0;
}