<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<br /><br />
<h3>Welcome {{emailId}}!</h3>
<h1 align="center">Cart Items</h1>

<div class="container">
    <ng-container *ngIf="products.length > 0; else noItems">
        <table class="table text-center table-bordered table-sm">
            <thead>
                <tr>
                    <th class="bg-info text-white text-center">Product Id</th>
                    <th class="bg-info text-white text-center">Product Name</th>
                    <th class="bg-info text-white text-center">Price</th>
                    <th class="bg-info text-white text-center">Quantity</th>
                    <th class="bg-info text-white text-center">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td><input type="number" [(ngModel)]="product.quantity" min="1" max="9999"></td>
                    <td><button (click)="deleteCartProduct(product)" class="glyphicon glyphicon-trash"> </button></td>
                </tr>
                <tr>
                    <td colspan="2" align="right"><b>Total</b></td>
                    <td>{{total}}</td>
                </tr>
                <tr>
                    <td colspan="3" (click)="purchase()" align="right"><button class="btn btn-primary">Purchase</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>
    <ng-template #noItems>
        <p align="center">No cart items selected.</p>
    </ng-template>
</div>