<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<div align="center" class="container">
  <h1 align="center">Customers Data</h1>
  <br />
  <table class="table table-hover table-striped table-sm table-bordered">
    <thead>
      <tr align="center">
        <th class="bg-info text-white">CustomerId</th>
        <th class="bg-info text-white">CustomerName</th>
        <th class="bg-info text-white">EmailId</th>
        <th class="bg-info text-white">PhoneNumber</th>
        <th class="bg-info text-white">Gender</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers" align="center">
        <td>{{ customer.customerId}}</td>
        <td>{{ customer.customerName | gender:customer.gender | uppercase}}</td>
        <td>{{ customer.emailId }}</td>
        <td>{{ customer.phoneNumber }}</td>
        <td>{{ customer.gender | lowercase}}</td>
        

      </tr>
    </tbody>
  </table>
</div>
