<div class="container mt-5">
    <h2>Payment Gateway</h2>
    <div class="row mt-5">
      <div class="col-md-4">
        <button (click)="pay()" class="btn btn-primary btn-block">Pay Rs{{ Total }}</button>
      </div>
    </div>
  </div>